{% extends "layout/default.html" %}

{% block body %}
<main>
<p>{% trans %}Create boxes and more with a laser cutter!{% endtrans %}</p>
<p>
  <a href="https://hackaday.io/project/10649-boxespy">Boxes.py</a> is an <a href="https://www.gnu.org/licenses/gpl-3.0.en.html">Open Source</a> box generator written in <a href="https://www.python.org/">Python</a>. It features both finished parametrized generators as well as a Python API for writing your own. It features finger and (flat) dovetail joints, flex cuts, holes and slots for screws, hinges, gears, pulleys and much more.
</p>
</main>
{% endblock %}
