{% macro render_action_input(group, action) %}
    {% set value = action.value if action.value else action.default %}
    <div class="row">
        <label for="{{ action.name }}" class="col-sm-2 col-form-label col-form-label-sm">{{ action.viewname | title }}</label>
        <div class="col-sm-2">
            <input type="text" class="form-control form-control-sm" id="{{ action.name }}" name="{{ action.name }}" value="{{ value }}" {% if action.required %}required{% endif %} />
        </div>
        <div class="col-sm-8">
            {% if action.help %}
            <span class="help-block">{{ action.help | safe }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_action_select(group, action) %}
    {% set value = action.value if action.value else actiondefault %}
    <div class="row">
        <label for="{{ action.name }}" class="col-sm-2 col-form-label col-form-label-sm">{{ action.viewname | title }}</label>
        <div class="col-sm-2">
            <select class="form-select form-select-sm" id="{{ action.name }}" name="{{ action.name }}" {% if action.required %}required{% endif %}>
                {% for choice in action.choices %}
                    {% if choice == value %}
                        <option selected="selected" value="{{ choice }}">{{ choice }}</option>
                    {% else %}
                        <option value="{{ choice }}">{{ choice }}</option>
                    {% endif %}
                {% endfor %}
            </select>
        </div>
        <div class="col-sm-8">
            {% if action.help %}
            <span class="help-block">{{ action.help | safe }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_action_textarea(group, action) %}
    {% set value = action.value if action.value else actiondefault %}
    <div class="row">
        <label for="{{ action.name }}" class="col-sm-2 col-form-label col-form-label-sm">{{ action.viewname | title }}</label>
        <div class="col-sm-2">
            <textarea id="{{ action.name }}" name="{{ action.name }}">{{ value }}</textarea>
        </div>
        <div class="col-sm-8">
            {% if action.help %}
            <span class="help-block">{{ action.help | safe }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_action_custom(group, action) %}
    <div class="row">
        <label for="{{ action.name }}" class="col-sm-2 col-form-label col-form-label-sm">{{ action.viewname | title }}</label>
        <div class="col-sm-2">
            {{ action.input_html | safe }}
        </div>
        <div class="col-sm-8">
            {% if action.help %}
            <span class="help-block">{{ action.help | safe }}</span>
            {% endif %}
        </div>
    </div>
{% endmacro %}

{% macro render_action(group, action) %}
    {% if action.input_type == "input" %}
        {{ render_action_input(group, action) }}
    {% elif action.input_type == "select" %}
        {{ render_action_select(group, action) }}
    {% elif action.input_type == "custom" %}
        {{ render_action_custom(group, action) }}
    {% elif action.input_type == "textarea" %}
        {{ render_action_textarea(group, action) }}
    {% endif %}
{% endmacro %}

{% macro render_presets_modal(box) %}
{% if box.presets %}
 <div class="modal fade" id="boxPresetModal" tabindex="-1" aria-labelledby="boxPresetModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="boxPresetModalLabel">Presets</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          <div class="container-fluid">
              <select id="boxPresetModalSelect">
                <option></option>
              {%- for category, preset in box.presets.categorised().items() %}
                <optgroup label="{{ category }}">
                {%- for preset_name in preset.keys() %}
                    <option value="{{ preset_name }}">{{ preset_name }}</option>
                {%- endfor %}
                </optgroup>
              {%- endfor %}
              </select>
          </div>
          <div class="container-fluid" id="boxPresetModalInfo">

          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button id="boxPresetModalApplyBtn" type="button" class="btn btn-primary" disabled="disabled" onclick="boxPresetModalApply(this)">Apply</button>
      </div>
    </div>
  </div>
</div>
<script>
preset_data = {{ box.presets.flat()|safe }};
function boxPresetModalApply() {
    const selected = $('#boxPresetModalSelect').select2('data')[0];
    if(selected.text === "") {
        return;
    }
    const selectedData = preset_data[selected.text];
    $("#boxPresetModal").modal("hide");
    for (const [key, value] of Object.entries(selectedData)) {
        $("#"+key).val(value);
        $("#"+key).parents(".accordion-item").find("[aria-expanded=false]").collapse("show");
        const d = 400;
        $("#"+key).fadeOut(d).fadeIn(d)
            .fadeOut(d).fadeIn(d)
            .fadeOut(d).fadeIn(d);
    }
}
$(document).ready(function() {
    $('#boxPresetModalSelect').select2({
        theme: 'bootstrap-5',
        dropdownParent: $('#boxPresetModal'),
        placeholder: "Select a preset",
        allowClear: true,
    });
    $('#boxPresetModalSelect').val(null).trigger("change");
    $('#boxPresetModalSelect').on('select2:select', function (e) {
        $("#boxPresetModalApplyBtn").removeAttr("disabled");
        const selectedData = e.params.data;
        const data = preset_data[selectedData.text];
        $('#boxPresetModalInfo').html("<hr />");
        for (const [key, value] of Object.entries(data)) {
            $('#boxPresetModalInfo').append(
            `<div class="row">
                <label for="boxPresetModalInfo${key}" class="col-sm-4 col-form-label">${key}</label>
                <div class="col-sm-8">
                    <input type="text" readonly class="form-control-plaintext" id="boxPresetModalInfo${key}" value="${value}">
                </div>
            </div>`
            );
        }
    });
});
</script>
{% endif %}
{% endmacro %}

{% macro render_box_form(box) %}
<div class="accordion">
    {% for group in box.form %}
    <div class="accordion-item">
        <h2 class="accordion-header" id="accordion-heading-{{ loop.index }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#accordion-panel-{{ loop.index }}" aria-expanded="true" aria-controls="accordion-panel-{{ loop.index }}">
                {{ group.title }}
            </button>
        </h2>
        <div id="accordion-panel-{{ loop.index }}" class="accordion-collapse collapse" aria-expanded="false" aria-labelledby="accordion-heading-{{ loop.index }}">
            <div class="accordion-body">
                <ul class="list-group list-group-flush">
                    {% for action in group.actions %}
                        {{ render_action(group, action) }}
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
<script>
$(document).ready(function() {
    // fix for some custom selects
    $('select:not(.form-select)').addClass("form-select form-select-sm");
});
</script>
{% endmacro %}